node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.feriados_anbima_tmp.xls
.copom_votes_tmp.xlsx
.fomc_dissents_tmp.xlsx
.sep_tmp.pdf
__pycache__/
